@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/laravel/jetstream/**/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Fredoka', 'Patrick Hand', 'Caveat', cursive, sans-serif;
}

:root {
    --color-primary: #3b82f6;         /* blue-500 */
    --color-primary-hover: #2563eb;  /* blue-600 */
    --color-primary-light: #60a5fa;  /* blue-400 */
    --color-secondary: #9333ea;      /* purple-600 */
    --color-tertiary: #06b6d4;       /* cyan-500 */
    --color-complement-1: #facc15;   /* yellow-400 */
    --color-complement-2: #ef4444;   /* red-500 */
    --color-background: #f3f4f6;
}

.dark {
  --color-background: #101828;
}

@layer base {
    /* Compatibilidad Tailwind v3 → v4 */
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Caveat';
        font-weight: 800;
    }

    /* ✅ Tus estilos globales */
    html,
    body {
        touch-action: manipulation;
        overscroll-behavior: none;
    }

    input,
    textarea,
    select {
        font-size: 16px !important;
    }

    input:focus,
    input:focus-visible {
        outline: none;
        border-color: #000000;
        box-shadow: none;
        --tw-ring-color: none;
    }

    [type='text']:focus,
    [type='time']:focus {
        border-color: transparent;
    }
}

/* Oculta elementos con x-cloak (Alpine) */
[x-cloak] {
    display: none;
}
